**
!Dockerfile
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!NOTICE
!train.py
!inference.py
!src/
!src/**
!scripts/
!scripts/**
!configs/
!configs/**
!tests/
!tests/**
!data/
!data/v1/
!data/v1/**
**/__pycache__/
